.square {
  background-color: white;
  border: 1px solid black;
  width: 3em;
  height: 3em;
  padding: 0;
  margin: 0;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: monospace;
  font-size: 3em;
  outline: none;
}

#title{
    color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    text-align: center;
    margin: 0.25em;
}

#boardWrapper{
    display: block;
    text-align: center;
}

#status{
    color:crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    padding-bottom: 1.5em;
}

#reset{
  background-color: black;
  color: white;
  border: none;
  width: 5em;
  height: 2em;
  padding: 0;
  margin-top: 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}